<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>UNDP Theme</title>
</head>
<body>


{{ region('sidebar') }}

<h2>{{ theme_path }}</h2>

<!--body-->
{% block body %}{% endblock %}
<!--@body-->

</body>
</html>